__pycache__/

venv/

build/
dist/
*.spec
pip-wheel-metadata/
*.egg-info/
.eggs/
*.egg

*.exe
*.dll
*.so
*.dylib
*.app

*.env

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db